<?xml version="1.0" ?>
<launch>
    <arg name="namespace" default="mobipick"/>

    <!-- set use_sim_time flag -->
    <param name="/use_sim_time" value="true"/>

    <group ns="$(arg namespace)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find daa_bringup)/rviz/table_sim.rviz" required="true" />
    </group>

    <include file="$(find daa_bringup)/launch/bringup.launch"/>
</launch>
